ul.header {
    position: fixed;
    list-style-type: none;
    display: inline-block;
    margin: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333e52;
    top: 0;
    font-family: Courier, monospace;
    width: 100%;
    z-index: 3;
}

body {
    margin: 0;
}

.gras {
    font-weight: bold;
}

.content {
    text-align: center;
    margin: auto;
    padding-top: 7%;
    
}

.eheader {
    vertical-align: middle;
    float: left;
}

.righth {
    float: right;
}

.header {
    position: fixed;
    vertical-align: middle;
    margin: 0 auto;
}

.eheader a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    background-color: #333e52;
    text-decoration: none;
}
.header a {
    font-size: 2.3em;
}

.flash {
    font-size: x-large;
}

#canvas {
    margin: 5% auto;
    display: none;
}
.contenu {
    margin: auto;
    width: 620px;
}

.picture {
    bottom: 0;
    width: 400px;
    margin: 5px auto;
}

.jaime {
    display: inline-block;
    height: 45px;
    width: 100%;
    margin-top: 10px;
}

.comment {
    color: black;
    text-align: left;
    padding-left: 5%;
    padding-right: 10%;
}

.commentaire {
    display: inline;

}

.com {
    display: inline;
    font-family: monospace;
    font-weight: bold;
}

#account, #forgot {
    margin-top: 15%;
}
