.body{
	margin: auto;
	vertical-align: center;
	text-align: center;
}

#video {
	margin-top: 100px;
	z-index: 0;
}

#content
{
	width: 900px;
	margin: auto;
	text-align: center;
}

#startbutton, #fileToUpload {

	background-color: #00264d;
	font-size: 17px;
	font-family: Blippo, fantasy;
	color: white;
	margin: auto;
    display: inline-block;
    width: 220px;
    line-height:40px;
    text-align:center;
    vertical-align:middle;
    visibility: hidden;
}

#video
{
	position: relative;
	z-index: 0;
}

#canvas
{
	position: relative;
	margin-top: 250px;
	margin-left: auto;
}

#bouton
{
	display: inline-block;
	margin: 5px auto;
	text-align: center;
	vertical-align: center;
}


.flt {
	width: 200px;
	text-align: center;
	display: inline-block;
}

.img
{
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
	border-radius: 54px;
}

.upload_file
{
  	width: 320px;
	height: 240px;
}
.user_log
{
	color: #757575; text-decoration: none;
}

#file {
	margin: auto;
	visibility: hidden;
	text-align: center;
	vertical-align: center;
}

.photo
{
	margin-left: 251px;
}
/*@media (max-width: 1280px) {
	#rendu_final
	{
		text-align: center;
		vertical-align: center;
		float: left;
		margin-left: auto;
	}
	.overall
	{
		float: right;
		margin-right: 24%;
	}
	.del
	{
		 float: right;
   		 margin-right: 13%;
	}
	#canvas
	{
		margin-left: 14%;
	}
	#bouton
	{
		vertical-align: center;
		text-align: center;
		margin-right: 35%;
	}
}