#video {
	margin-top: 100px;
	z-index: 0;
}

#content
{
	width: 900px;
	margin: auto;
}

/*#rendu_final 
{
	width: 320px;
	margin: auto;
	position: relative;
}*/

#filter_prev
{
	float: left;
	position: absolute;
	width: 320px;
	margin: auto;
	z-index: 1;
	height: 240px;
}
