#video {
	margin-top: 100px;
	z-index: 0;
}

#content
{
	width: 900px;
	margin: auto;
}

#video
{
	position: relative;
	z-index: 0;
}

#canvas
{
	position: relative;
	margin-top: 250px;
	margin-left: 290px;
}

#bouton
{
	display: inline-block;
	margin: auto;
}

.img
{
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
	border-radius: 54px;
}

.upload_file
{
  	width: 320px;
	height: 240px;
}
.user_log
{
	color: #757575; text-decoration: none;
}
.photo
{
	margin-left: 251px;
}
@media (max-width: 1280px) {
	#rendu_final
	{
		float: left;
		margin-left: 14%;
	}
	.overall
	{
		float: right;
		margin-right: 24%;
	}
	.del
	{
		 float: right;
   		 margin-right: 13%;
	}
	#canvas
	{
		margin-left: 14%;
	}
	#bouton
	{
		margin-right: 35%;
	}
}